<!--
============LICENSE_START========================================== 
org.onap.vvp/portal
===================================================================
Copyright © 2017 AT&T Intellectual Property. All rights reserved.
===================================================================

Unless otherwise specified, all software contained herein is licensed
under the Apache License, Version 2.0 (the “License”);
you may not use this software except in compliance with the License.
You may obtain a copy of the License at

         http:www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.



Unless otherwise specified, all documentation contained herein is licensed
under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
you may not use this documentation except in compliance with the License.
You may obtain a copy of the License at

         https:creativecommons.org/licenses/by/4.0/

Unless required by applicable law or agreed to in writing, documentation
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

============LICENSE_END============================================

ECOMP is a trademark and service mark of AT&T Intellectual Property.-->
<div class="toast-read-more-container">
    <div class="modal-header row">
        <span class="toast-read-more-title" id="toast-title-id">{{vm.post.title}}</span>
        <p class="toast-read-more-creation ng-binding">Posted at {{vm.post.publish_date | date2: 'EEEE  MMMM doo yyyy'}} by {{vm.post.user.username}}</p>
        <button type="button" ng-click="vm.closeModal()" id="close-modal-button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body row toast-read-more-content" id="toast-description" ng-bind-html="vm.post.content"></div>
    <div class="recent-cms-posts-container row">
        <div class="line-separator col-md-12"></div>
        <span class="recent-cms-posts-title">Most recent news & announcements</span>
        <ul class="recent-cms-posts">
            <li class="row" data-ng-repeat="post in vm.recentPosts track by post.id" ng-class="{'selected': (post.id === vm.post.id)}" ng-click="vm.loadSelectedPostData(post)">
                <span class="col-md-7">{{post.title}}</span><span class="col-md-5 post-creation">Posted at {{post.publish_date | date2: 'EEEE  MMMM doo yyyy'}} by {{post.user.username}}</span>
            </li>
        </ul>
    </div>
</div>
