<!--
============LICENSE_START========================================== 
org.onap.vvp/portal
===================================================================
Copyright © 2017 AT&T Intellectual Property. All rights reserved.
===================================================================

Unless otherwise specified, all software contained herein is licensed
under the Apache License, Version 2.0 (the “License”);
you may not use this software except in compliance with the License.
You may obtain a copy of the License at

         http:www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.



Unless otherwise specified, all documentation contained herein is licensed
under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
you may not use this documentation except in compliance with the License.
You may obtain a copy of the License at

         https:creativecommons.org/licenses/by/4.0/

Unless required by applicable law or agreed to in writing, documentation
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

============LICENSE_END============================================

ECOMP is a trademark and service mark of AT&T Intellectual Property.-->
<div class="dashboard">
    <div id="toolbar" class="toolbar navbar-fixed-top" ui-view="toolbar"></div>
    <div id="content-container" class="content-container">
        <div id="navigation" class="navigation col-md-2" ui-view="navigation"></div>
        <div id="content" class="content" ng-class="state.current.params.displaySidebar ? 'col-md-7' : 'col-md-10'">
            <ice-announcement class="col-md-12"></ice-announcement>
            <ice-toast is-modal="false" class="col-md-12"></ice-toast>
            <div ui-view="content"></div>
        </div>
        <div ng-if="state.current.params.displaySidebar" id="sidebar" ui-view="sidebar" class="col-md-3"></div>
    </div>
</div>
