<!--
============LICENSE_START========================================== 
org.onap.vvp/portal
===================================================================
Copyright © 2017 AT&T Intellectual Property. All rights reserved.
===================================================================

Unless otherwise specified, all software contained herein is licensed
under the Apache License, Version 2.0 (the “License”);
you may not use this software except in compliance with the License.
You may obtain a copy of the License at

         http:www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.



Unless otherwise specified, all documentation contained herein is licensed
under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
you may not use this documentation except in compliance with the License.
You may obtain a copy of the License at

         https:creativecommons.org/licenses/by/4.0/

Unless required by applicable law or agreed to in writing, documentation
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

============LICENSE_END============================================

ECOMP is a trademark and service mark of AT&T Intellectual Property.-->
<div class="archive-engagement-modal">
    <div class="modal-header row">
        <button type="button" ng-click="vm.closeModal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="archive-engagement-title" class="archive-engagement-title"><span>Archive Engagement</span></div>
        <span class="archive-engagement-reason">Please provide a short reason for why you are archiving this engagement.</span>
    </div>
    <div class="modal-body row">
        <form name="archiveEngagementForm" ng-submit="vm.archiveEngagement()" novalidate="" class="">
            <div class="form-group" ng-class="{ 'has-error' : archiveEngagementForm.reason.$invalid && archiveEngagementForm.reason.$dirty }">
                <textarea type="text" name="reason" class="form-control" ng-model="vm.reason" required=""></textarea>
                <div class="ice-form-error" data-ng-show="archiveEngagementForm.reason.$error">
                    <span ng-show="archiveEngagementForm.reason.$error.required && archiveEngagementForm.reason.$dirty" class="help-block ng-hide" aria-hidden="true">Please enter a reason</span>
                </div>
            </div>
            <button id="submit-modal" class="btn btn-primary col-md-12" data-ng-disabled="archiveEngagementForm.$invalid" type="submit">Submit</button>
        </form>
    </div>
</div>
