<!--
============LICENSE_START========================================== 
org.onap.vvp/portal
===================================================================
Copyright © 2017 AT&T Intellectual Property. All rights reserved.
===================================================================

Unless otherwise specified, all software contained herein is licensed
under the Apache License, Version 2.0 (the “License”);
you may not use this software except in compliance with the License.
You may obtain a copy of the License at

         http:www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.



Unless otherwise specified, all documentation contained herein is licensed
under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
you may not use this documentation except in compliance with the License.
You may obtain a copy of the License at

         https:creativecommons.org/licenses/by/4.0/

Unless required by applicable law or agreed to in writing, documentation
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

============LICENSE_END============================================

ECOMP is a trademark and service mark of AT&T Intellectual Property.-->
<form name="updateProgressForm" ng-submit="vm.submitForm()" novalidate class="update-progress-form">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Target Completion Date</h3>
        <button type="button" ng-click="vm.closeModal()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error' : updateProgressForm.date.$invalid && !updateProgressForm.date.$pristine }">

            <!--<input type="text" name="date" class="form-control" ng-model="vm.completionDate" ng-minlength="1" ng-maxlength="2" maxlength="2" required>-->

            <div>{{vm.completionDate | date:'fullDate' }}</div>

            <div class="ice-form-error" data-ng-show="updateProgressForm.date.$error">
                <span ng-show="updateProgressForm.date.$error.required && !updateProgressForm.date.$pristine">Date is required field!</span>
            </div>
        </div>

        <uib-datepicker ng-model="vm.completionDate" class="well well-sm" datepicker-options="vm.dateOptions"></uib-datepicker>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-ng-disabled="!updateProgressForm.$valid">Save</button>
    </div>
</form>
