<!--
============LICENSE_START========================================== 
org.onap.vvp/portal
===================================================================
Copyright © 2017 AT&T Intellectual Property. All rights reserved.
===================================================================

Unless otherwise specified, all software contained herein is licensed
under the Apache License, Version 2.0 (the “License”);
you may not use this software except in compliance with the License.
You may obtain a copy of the License at

         http:www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.



Unless otherwise specified, all documentation contained herein is licensed
under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
you may not use this documentation except in compliance with the License.
You may obtain a copy of the License at

         https:creativecommons.org/licenses/by/4.0/

Unless required by applicable law or agreed to in writing, documentation
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

============LICENSE_END============================================

ECOMP is a trademark and service mark of AT&T Intellectual Property.-->
<div class="admin-navigation">
	<ice-loader selector=".engagments-list" ></ice-loader>
	<h1 class="caption" id="left-navigation-title">Admin</h1>

	<div class="navbar-collapse collapse admin-navbar">

	<section class="menu-engagements-category">
		<ul class="engagements-list">
		    <li>
			    <span class="selected clickable sub-category" id="master-checklist-templates">Master Checklist Templates</span>
		        <ul class="engagement-details">
		            <li data-ng-repeat="template in vm.checkListTemplates" class="clickable">
		            	<span class="engagement_detail_menu_name" ng-class="{'template-selected': vm.selectedTemplate.uuid === template.uuid}">
			             	<span ng-click="vm.selectTemplate(template);" name="{{template.name}}">{{template.name}}</span>
			             	<span ng-show="vm.selectedTemplate.name == template.name">&raquo;</span>
		             	</span>
		            </li>
		        </ul>
		    </li>
		</ul>
	</section>
	</div>
</div>



